<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Robot World</title>
  </head>
  <body>

    <h1>Welcome to Robot World!</h1>

    <ul>
      <li><a href="/robots">Robot List</a></li>
      <li><a href="/robots/new">New Robot</a></li>
    </ul>

  </body>
</html>
